# =========================
# DBT
# =========================
target/
dbt_packages/
logs/

# =========================
# ENVIRONMENT VARIABLES
# =========================
.env
*.env

# =========================
# AWS CREDENTIALS
# =========================
.aws/
*.pem
*.key

# =========================
# SUPERSET LOCAL DATA
# =========================
superset_home/
dashboards/superset/superset_home/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# LOG FILES
# =========================
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/